@media print {

  body {
    margin: 5px;
    color: #000;
  }

  .column, [class*="column"]+[class*="column"]:last-child, [class*="column"]+[class*="column"].end:last-child, [class*="column"]+[class*="column"].end {
    float: none;
  }

  .column {
    width: auto !important;
  }

  .row .row.collapse > .column.size_75 {
    width: 75% !important;
  }

  .row .row.collapse > .column.size_25 {
    width: 25% !important;
  }

  .row .row.collapse > .column {
    float: left;
  }

  .row .row.collapse > .column:last-child {
    float: right;
  }

  .logo {
    margin-top: -25px;
    display: block;
    height: 0;
    /*margin: 0;*/
    float: none;
    text-align: right;
  }

  .nadpis {
    float: left;
    padding-top: 10px;
    font-size: 1.5em;
  }

  .vstupni_udaje.wrap,
  .vystup.wrap,
  .rozdil_uspora.wrap {
    margin-top: 10px;
    margin-left: 0;
  }

  .vstupni_udaje.wrap {
    margin-top: 10px;
  }

  .vstupni_udaje.wrap h1,
  .vystup.wrap h1,
  .rozdil_uspora.wrap h1,
  .komponenty.wrap h1 {
    width: 100%;
    margin-top: 0;
    padding-left: 30px;
    text-align: left;
  }

  .vystup.wrap h1 {
    padding-left: 25px;
  }

  .komponenty.wrap h1 {
    padding-left: 40px;
  }

  .rozdil_uspora.wrap {
    page-break-after: always;
  }

  table tbody tr td {
    padding: 2px;
  }

  .wrap {
    padding: 5px;
    border: 1px solid #000;
  }

  .vstupni_udaje h2 {
    visibility: hidden;
  }

  .vystup h2,
  .komponenty h2 {
    display: none;
  }

  .vstupni_udaje h2 {
    margin-top: -20px;
  }

  .vstupni_udaje {
    margin-top: 50px;
  }

  .vstupni_udaje.wrap h1 {
    margin-left: -20px;
  }

  .vystup.wrap h1 {
    margin-left: -14px;
  }

  .rozdil_uspora h1 {
    margin-left: -14px;
  }

  .rozdil_uspora td {
    padding: 0;
    border-bottom: 0;
  }

  .rozdil_uspora tr:first-child td {
    padding: 10px 0;
  }

  .rozdil_uspora td:last-child {
    padding: 0;
    border-bottom: 0;
  }

  .komponenty.wrap h1 {
    margin-left: -27px;
  }

  header.row {
    margin: 0 0 30px 0;
    color: #000;
  }

  .rozdil_uspora table tbody tr:nth-child(2) td,
  .rozdil_uspora table tbody tr:nth-child(3) td {
    padding: 0;
  }

  .rozdil_uspora table tbody tr:nth-child(2) td,
  .rozdil_uspora table tbody tr:nth-child(3) td {
    padding-left: 10px;
  }

  .vstupni_udaje.wrap h1, .vystup.wrap h1, .komponenty.wrap h1, .rozdil_uspora h1 {
    background-color: transparent;
    color: #000;
  }

  .vstupni_udaje h2, .vystup h2, .komponenty h2 {
    color: #000;
  }

  table thead tr:first-child th {
    color: #000;
  }

  .vystup table tbody tr:nth-child(5) td {
    background: transparent;
    color: #000;
    border: none;
  }

  .rozdil_uspora table tbody tr:nth-child(2) td, .rozdil_uspora table tbody tr:nth-child(3) td {
    background: transparent;
    color: #000;
  }

  .plus-icon, .minus-icon {
    display: none;
  }

}
