body {
  margin: 25px;
  font-family: 'open_sansregular';
  color: #000;
  letter-spacing: 0.05;
  line-height: 1.5;
}

input {
  text-align: right;
}

table {
  width: 100%;
  font-size: 10px;
}

header.row {
  margin-bottom: 50px;
  color: #56a2ac;
}

strong {
  font-family: 'open_sansbold';
}

.logo {
  display: block;
  height: 0;
  margin: 0;
  float: none;
  text-align: right;
}

.nadpis {
  float: left;
  padding-top: 35px;
  font-size: 1.5em;
}

.nazev-setu {
  margin-top: 10px;
}

.nazev-setu input {
  font-size: 1.5em;
  border: none;
  text-align: left;
  color: #56a2ac;
}

.products-main-table {
  width: 100%;
}

.table-1,
.table-2,
.table-3 {
  margin-bottom: 2em;
}

.table-4 {
  margin-bottom: 1em;
}

/*.table-results {
  margin-top: 3em;
}*/

/*.finalni-uspora:before {
  content: '';
  display: block;
  height: 50px;
}*/

.wrap {
  padding: 15px;
  border: 1px dotted #000;
}

.vstupni_udaje.wrap h1,
.vystup.wrap h1,
.komponenty.wrap h1,
.rozdil_uspora h1 {
  width: 160px;
  margin-top: -35px;
  margin-left: 40px;
  background-color: #fff;
  padding: 0.5em;
  color: #56a2ac;
  text-align: center;
}

.vystup.wrap h1 {
  width: 230px;
}

.rozdil_uspora h1 {
  width: 240px;
}

.vstupni_udaje {
  width: 36%;
}

.vstupni_udaje h2,
.vystup h2,
.komponenty h2 {
  background: #5caec9;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 11px;
  border: 2px solid;
}

.vystup,
.rozdil_uspora {
  margin-left: 2%;
  width: 62%;
}

table thead tr:first-child {
  width: 100%;
  border: 2px solid lightblue;
}

table thead tr:first-child th {
  background: lightblue;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  width: 100%;
  border: 2px solid #fff;
}

/*table thead tr:nth-child(2n+1) th {
  background: red;
}*/

table tbody tr td {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.vystup tbody tr td:nth-child(1n+2) {
  padding-left: 11px;
}

table tbody tr td:first-child {
  padding-left: 10px;
}

table tbody tr td:last-child {
  padding-right: 10px;
}

table thead tr th {
  padding: 10px;
}

table input {
  width: 85%;
  border: none;
}

.vystup table tbody tr:nth-child(4) td,
.vystup table tbody tr:nth-child(5) td {
  border-bottom: none;
}

.vystup table tbody tr:nth-child(5) td {
  background: #5caec9;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid;
}

.vystup table tbody tr:nth-child(5) td:first-child {
  text-transform: uppercase;
}


/*.vystup table tbody tr td:not(:first-child) {
  text-align: center;
}*/

.rozdil_uspora {
  margin-top: 3em;
  padding-bottom: 88px;
}

.rozdil_uspora table tbody tr:nth-child(1) td {
  background: #fff;
  color: #000;
  border-bottom: none;
}

.rozdil_uspora table tbody tr:nth-child(2) td,
.rozdil_uspora table tbody tr:nth-child(3) td {
  border: none;
  background: #5caec9;
  color: #fff;
  /*border-bottom: 15px solid #fff;*/
  border: 2px solid white;
  padding: 5px 10px;
}

.rozdil_uspora table tbody tr:nth-child(2) td:first-child,
.rozdil_uspora table tbody tr:nth-child(3) td:first-child {
  width: 35%;
}

/*.rozdil_uspora table tbody tr td {
  border: 2px solid white;
}*/

/*.rozdil_uspora table tbody tr td {
  border: none;
  background: #5caec9;
  color: #fff;
}*/

/*.komponenty table thead tr:first-child th {
  border: 2px solid lightblue;
}*/

.komponenty table input {
  width: 80%;
}

.komponenty {
  width: 60%;
}

.komponenty table thead tr:first-child th {
  background: #fff;
}

.komponenty table thead tr th {
  text-align: left;
  padding: 0px;
}

.komponenty table thead tr th:first-child {
  padding-left: 10px;
}

.komponenty table tbody tr td:last-child {
  text-align: right;
}

.komponenty table tbody tr td {
  text-align: left;
  border-bottom: none;
}

.komponenty table input {
  border: 1px solid #000;
}

.komponenty table tbody tr td.komponenty-celkova-cena-wrapper {
  position: relative;
}

.komponenty-celkova-cena {
  border: 1px solid black;
  padding: 0 6px;
  text-align: right;
  /*position: absolute;*/
  /*top: 18px;*/
  position: relative;
  top: -2px;
  left: 0;
  bottom: 14px;
  right: 10px;
  margin-right: 10px;
}

.komponenty table.products-main-table tbody tr:last-of-type td {
  border-bottom: none;
}

.edit-row {
  padding: 10px;
}

.komponenty table:last-of-type thead tr:first-of-type th {
  background-color: transparent;
  /*display: none*/
}

.komponenty table:last-of-type thead tr th {
  /*text-align: left;*/
  background: #5caec9;
  color: #fff;
  border: 2px solid white;
  padding: 5px 10px;
}

/*.komponenty table:last-of-type thead tr:last-child th:last-child {
  border: 2px solid #5caec9;
}*/

/*.komponenty table:last-of-type thead tr:last-child {
  width: 100%;
  background: #5caec9;
}*/

/*.komponenty table:last-of-type thead tr th:last-child {
  border: 2px solid #5caec9;
}*/

/*table tbody tr td.komponenty-celkova-cena {
  padding: 0 0 0 0;
}*/

/*.komponenty table tbody tr td:last-child {
  padding-bottom: 0;
  padding-top: 0;
}*/

.plus-icon,
.minus-icon {
  padding: 0 5px;
  border: 1px solid #5caec9;
  color: #5caec9;
  font-size: 20px;
  cursor: pointer;
}

.minus-icon {
  padding: 0px 7px 2px 7px;
}

.komponenty table.products-main-table tbody tr td {
  border-bottom: 1px solid #000;
}


.cpt-set tr {
  background: #e5f9ff;
}

.soucasne-pouzivani-CPT-setu tr {
  background: #e5f9ff;
}


.hidden-logo-for-print {
  display: none;
}

/***********************
  Modal window
***********************/

#modal {
  display: none;
  /*display: block;*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
  z-index: 990;
}

/*#modal.activated .modalContent {*/
#modal .modalContent {
  background-color: #fefefe;
  margin: 5% auto;
  /*padding: 5em 2em 2em 2em;*/
  padding: 5em 6em 2em 6em;
  border-radius: 0.25em;
  width: 90%;
  z-index: 991;
}

#modal.activated {
  display: block;
}

#modal.activated .closeModal {
  font-size: 1.5em;
  float: right;
  margin-top: -2em;
}

.modalContent form {
  margin: 1em 0 4em 0;
  text-align: center;
}

.modalContent input {
  padding: 20px;
  margin-bottom: 20px;
}

#modal h2 {
  background-color: transparent;
  color: #000;
  border: none;
  text-align: center;
  font-size: 1.5em;
}

#modal input {
  width: 100%;
}

#modal button {
  border: 1px solid #000;
  padding: 10px 50px;
  border-radius: 0;
  margin: 10px;
}

#modal .modal-submit {
  background-color: #5caec9;
  border: 1px solid #5caec9;
  color: #fff;
}

#modal .modal-cancel {
  background-color: #fff;
}





















@media screen and (max-width: 1080px) {

  table.table-results tbody tr td:first-child {
    /*border: 1px solid red;*/
    width: 35%;
  }

  table.rozdil_table tbody tr td:first-child {
    /*border: 1px solid red;*/
    width: 35%;
  }

  .wrap {
    padding: 10px;
  }

  .vstupni_udaje {
    width: 44%;
  }

  .vystup, .rozdil_uspora {
    width: 54%;
  }

  header.row {
    /*margin: -30px 0 30px 0;*/
    margin: 10px 0;

  }

  .vstupni_udaje {
    margin-top: 30px;
  }

  .vstupni_udaje.wrap h1 {
    margin-top: -60px;
    margin-bottom: 25px;
    margin-left: -25px;
  }

  .vystup {
    margin-top: 30px;
    margin-left: 18px;
  }

  .vystup.wrap h1 {
    margin-top: -60px;
    margin-bottom: 25px;
    margin-left: -20px;
  }

  .rozdil_uspora {
    margin-top: 60px;
    margin-left: 0;
    padding-bottom: 15px;
  }

  .rozdil_uspora h1 {
    margin-top: -60px;
    margin-bottom: 25px;
    margin-left: -20px;
  }

  .komponenty {
    margin-top: 30px;
    margin-left: 0;
  }

  .komponenty.wrap h1 {
    margin-top: -60px;
    margin-bottom: 25px;
    margin-left: -34px;
  }

  table tbody tr td {
    padding: 6px;
  }

  .vystup {
    margin-top: 60px;
    /*margin-left: 0;*/
    margin-left: 18px;
  }

  .komponenty-celkova-cena {
    margin-right: 0;
  }
}



@media screen and (max-width: 768px) {

  .vystup {
    margin-top: 60px;
    margin-left: 0;
  }

}
